<html>
  <head>
    <title>Welcome to Our Website</title>
  </head>
  <body
    style='font-family: Arial, sans-serif; line-height: 1.6; color: #333; background-color: #f9f9f9; padding: 20px;'
  >

    <div
      style='max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);'
    >
      <h1 style='font-size: 24px;'>Hello {{name}},</h1>
      <p style='font-size: 16px;'>Verification was successful. Your new password will appear below. Please change your password after receiving it.</p>
      <a
        target='_blank'
        style='padding: 12px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 4px; font-size: 16px;'
      >{{newPass}}</a>
      <p style='font-size: 16px;'>Best regards,</p>
      <p style='font-size: 16px;'>The Our Website Team</p>
    </div>

  </body>
</html>